.Answer {
    border: 0.1rem solid #657786;
    color: #14171a;
    border-radius: 5px;
    width: 100%;
    min-height: 7rem;
    height: auto;
    display: flex;
    flex-direction: column;
    background-color: #f5f8fa;
    margin: 1rem 0;
    padding-top: 1rem;
}

.Wrapper {
    display: flex;
    align-items: center;
    margin-top: 0.2rem;
}

.Icon {
    margin-right: 0.2rem;
    margin-left: 0.5rem;
}

.Content {
    font-size: 1.5rem;
    margin-left: 1rem;
    margin-bottom: 1rem;
}

.Info {
    display: flex;
    margin: 0 0.5rem;
    padding-bottom: 0.4rem;
}

.Spacer {
    flex: 1;
}

.Text {
    padding: 0 0.2rem;
}

.Data {
    display: flex;
    justify-content: space-evenly;
    border-top: 0.1rem solid #657786;
}

.DataWrapper {
    display: flex;
    align-items: center;
    padding: 0.4rem 0;
}

.Number {
    margin-left: 0.2rem;
    color: #14171a;
}

.Actions {
    display: flex;
}
