.Dropdown a {
    text-decoration: none;
    color: #fff;
    display: flex;
}

a.DropdownItem {
    color: black;
    text-decoration: none;
}

.IconSpan {
    display: flex;
    margin-top: 0.4rem;
}

.Icon {
    color: white;
    margin-top: 0.2rem;
    margin-right: 0.2rem;
}
